*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.tif
*.shp
carib_markdown/**.docx
*.nc
*.lzw

*.dbf
*.db
*.mxd
*.prj
*.sbn
*.sbx
*.xml
*.shx
*.sbn
*.pdf
*.cpg
*.xml
*.ovr
*.tfw
*.dat
*.nit
*.adf
.Rproj.user
*.DS_Store

